<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assignment-4</title>
</head>
<body>
  <header class="sticky clearFix container">
        <div class="">
            <div class="logo">
                <span href="/">
                    <img src="/assets/images/logo2.png" alt="Logo">
                </span>
                <h6>Wood M4</h6>
            </div>
            <div class="buyNow">
                <ul>
                    <li>
                        <button class="btn1Style" type="button">Buy Now</button>
                    </li>
                </ul>
            </div>
            <nav>
                <ul class="nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Live Demo</a>
                    </li>
                    <li>
                        <a href="#">Live Demo Block</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class=" container clearFix ">
            <span class="backgroundImg">
                <div class="pageWrapper">
                <div class="smallDiv fRight">
                    <h1>Wooden</h1>
                    <h1>Furniture Store</h1>
                    <p class="smallPara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <p class="largePara">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       Nemo necessitatibus nihil quasi incidunt. Aut praesentium 
                       similique cum sed corrupti maiores temporibus tenetur voluptas ullam magnam. 
                       Similique inventore reiciendis natus corrupti!
                    </p>
                </div>
            </div>
            </span>
    </section> 
    <section class="container clearFix section-2">
        <div class=" divSize">
            <div class="subDiv1">
                <h2>Our Features</h2>
                <p class="para-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Assumenda ipsa expedita veritatis quibusdam nostrum, impedit
                Assumenda ipsa expedita veritatis quibusdam nostrum, impedit
                </p>
            </div>
            <ul>
                <li>
                    <img src="/assets/images/plate.jpg" alt="plates">
                <h3>Natural Material</h3>
                <p>This wesite provides us the free templates.This wesite provides us the free templates.
                    This wesite provides us the free templates.This wesite provides us the free templates
                    This wesite provides us the free templates.This wesite provides us the free templates
                </p>
                <a href="#">View more</a>
                </li>
                <li>
                    <img src="/assets/images/design-1.jpg" alt="wood design">
                    <h3>Unique Design</h3>
                    <p>This wesite provides us the free templates.This wesite provides us the free templates
                        This wesite provides us the free templates.This wesite provides us the free templates
                        This wesite provides us the free templates.This wesite provides us the free templates



                    </p>
                    <a href="#">View more</a>
                </li>
                <li>
                    <img src="/assets/images/cup.jpg" alt="cup">
                    <h3>Eco Production</h3>
                    <p>This wesite provides us the free templates.This wesite provides us the free templates
                        This wesite provides us the free templates.This wesite provides us the free templates
                        This wesite provides us the free templates.This wesite provides us the free templates


                    </p>
                    <a href="#">View more</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container clearFix section-3">
         <div class="divSize">
            <div class="fLeft">
                <img src="/assets/images/design-1.jpg" alt="wooden design2">
            </div>
            <div class="fRight">
                <h1>Wooden Products</h1>
                <p class="para2">This wesite provides us the free templates
                    that we can use to design a web page and makes it look more dynamic. 
                </p>
                <ol class="listDesign">
                    <li>This wesite provides us the free templates.</li>
                    <li>This wesite provides us the free templates.This wesite provides us the free templates!This wesite provides us the free templates!</li>
                    <li>This wesite provides us the free templates.This wesite provides us the free templates!</li>
                    <li>This wesite provides us the free templates.</li>
                </ol>
                <ol class="listDesign secondList">
                    <li>This wesite provides us the free templates.This wesite provides us the free templates!</li>
                    <li>This wesite provides us the free templates.</li>
                    <li>This wesite provides us the free templates.This wesite provides us the free templates!This wesite provides us the free templates!</li>
                    <li>This wesite provides us the free templates.</li>
                </ol>
            </div>
        </div>    
    </section>
    <section class="container clearFix section-4">
        <div class=" divS4">
            <div class="subDiv2">
                <h2>Unique Design</h2>
                <p class="para-1">This wesite provides us the free templates.This wesite provides us the free templates
                This wesite provides us the free templates.This wesite provides us the free templates
                This wesite provides us the free templates.This wesite provides us the free templates
                This wesite provides us the free templates.This wesite provides us the free templates
                </p>
            </div>  
            <ul>
                <li>
                    <img src="/assets/images/1st.jpg" alt="plates">
                <p>Wood Figure<p>
                <h6>$27</h6>
                </li>
                <li>
                    <img src="/assets/images/2nd.jpg" alt="wood design">
                    <p>Table Accessories</p>
                    <h6>$87</h6>
                </li>
                <li>
                    <img src="/assets/images/3rd.png" alt="cup">
                    <p>Dinner Table</p>
                    <h6>$14</h6>
                </li>
                <li>
                    <img src="/assets/images/4th.jpg" alt="cup">
                    <p>Wooden Dishes</p>
                    <h6>$37</h6>
                </li>
            </ul>
        </div>
    </section>
    <section class="container clearFix section-5">
        <div class="divS5">
            <div class="fLeft">
                <h1>Only Natural Materials</h1>
                <p class="para5">This wesite provides us the free templates
                    that we can use to design a web page and makes it look more dynamic. 
                    This wesite provides us the free templates
                    that we can use to design a web page and makes it look more dynamic
                    This wesite provides us the free templates
                    that we can use to design a web page and makes it look more dynamic
                </p>
            </div>
           <div class="fRight">
               <img src="/assets/images/design-1.jpg" alt="wooden design2">
           </div>
       </div>    
   </section>
   <section class="container clearFix section-6">
        <div class="divS6">
            <div class="fLeft">
                <h1>Why YOU</h1>
                <h2>Should</h2>
                <h3>Choose Us?</h3>
                <img src="/assets/images/cup.jpg" alt="wooden design2">
            </div>
            <div class="fRight">
                    <p class="para6"> This wesite provides us the free templates
                        that we can use to design a web page and makes it look more dynamic
                         This wesite provides us the free templates
                    </p>
                    <h4>Natural Materials Features</h4>
                    <ul>
                        <li>this wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                        <li>This wesite provides us the free templates.</li>
                    </ul>
                    <p class="para7"> This wesite provides us the free templates
                         that we can use to design a web page and makes it look more dynamic
                         This wesite provides us the free templates
                         that we can use to design a web page and makes it look more dynamic
                    </p>
            </div>
        </div> 
    </section>
    <section class=" clearFix">
        <div class="divS7 container">
            <img src="" alt="forest image">
        </div>
    </section>
    <section class="container clearFix section-8">
        <div class="divS8">
            <div class="fLeft">
                <h1>Contact Us</h1>
                <img src="/assets/images/cup.jpg" alt="wooden design2">
            </div>
            <div class="fRight">
                <h4>Unique Wood Product</h4>
                <p class="para8">This wesite provides us the free templates.This wesite provides us the free templates.This wesite provides us the free templates</p>
                <p>support@mbni.com</p>
                <p>0123-45 67 89</p>
                <h5>Address:</h5>
                <p>1234 Street Name</p>
                <p>city, AA GHJPKJ</p>
                <h5>Contacts:</h5>
                <p>Phone: +0123-45 67 89</p>
                <p>Fox: +0123-45 67 89</p>
            </div>
        </div>    
    </section>
    <footer class="container clearFix">
        <div class="divFooter1">
            <img src="/assets/images/logo2.png" alt="Logo">
        </div>
        <div class="divFooter2">
            <ul>
                <li>
                    <h1>Office</h1>
                    <p>New York</p>
                    <p>8345 state</p>
                </li>
                <li>
                    <h1>Contacts</h1>
                    <p>01-23-34-56-56</p>
                    <p>support@mbni.com</p>
                </li>
                <li>
                    <h1>Address</h1>
                    <p>8345 street</p>
                    <p>statin Island</p>
                </li>
            </ul>
        </div>
        <div class="divFooter3">
            <i class="icon-facebook"></i>
        </div>
        <div class="divFooter4">
            <p>copyright © 2020 simple house | Furniture Website Template-All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>